
<% if signed_in? %>
 <%= render 'trends' %> 
 <% else %>
  <div class="">
    <div id="clearance" class="sign-in">
      <i class="fa fa-twitter" ></i>
      <h2> Log in to Twitter</h2>

      <%= form_for :session, url: session_path do |form| %>
      <div class="box is-centered">
        <div class="field">
          <%= form.label :Email%>
           <div class="control has-icons-left">
              <%= form.text_field :email, type: 'email' %>
            </div>
        </div>
        <div class="password-field">
          <%= form.label :password %>
          <div class="control has-icons-left">
              <%= form.password_field :password %>
              
          </div>
        </div>

        <div class="submit-field">
          <%= form.submit %>
        </div>
      </div>
        <div class="other-links">
          <% if Clearance.configuration.allow_sign_up? %>
            <%= link_to t(".sign_up_for_twitter"), sign_up_path %>
          <% end %> 
          
          <%= link_to t(".*forgot_password"), new_password_path %>
        </div>
        
        <% end %>
      </div> 
 </div>
<% end %>
