<% if signed_in? %>
 <%= render 'trendsforyou' %> 
 <% else %>
  <div class="column is-one-third">
    <figure class="">
      <img src="https://abs.twimg.com/sticky/illustrations/twitter_login_sidebar_illustration.png" alt="homelogin" width="256" height="256">
    </figure>
    <div id="clearance" class="sign-in">
      <div class="">
      <i class="fa fa-twitter" ></i>
      <h2> Log in to Twitter</h2>
      </div>
      <br />
      <%= form_for :session, url: session_path do |form| %>
      <div class="">
        <div class="field">
          <%= form.label :Email%>
           <div class="control has-icons-left">
              <%= form.text_field :email, type: 'email' %>
            </div>
        </div>
        <div class="password-field">
          <%= form.label :password %>
          <div class="control has-icons-left">
              <%= form.password_field :password %>
          </div>
        </div>
        <br />
        <div>
          <div class="control">
          <button class="button is-link">Submit</button>
          </div>
          <div class="button is-info">
          <% if Clearance.configuration.allow_sign_up? %>
            <%= link_to ("Sign Up"), sign_up_path%>
          <% end %>    
          </div> 
        </div>
  
        <% end %>
       
      </div>
  </div>
 </div>

<% end %>
