<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    
  </head>
 
  <body>
     <% if signed_in? %>
    <header> 
    <nav class="navbar is-info">
      <%= link_to root_path, class: "navbar-item"  do %>
      <h1 class="title is-5"><i class="fa fa-twitter" ></i>  Twittter</h1> 
      <% end %>
    </header>
  <section>
      <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %> has-text-centered"><%= value %></div>
      <% end %>
      </div>
    </section>
  <%= yield %>
  <% else %>
 <header> 
    <nav class="navbar is-info">
      <%= link_to root_path, class: "navbar-item"  do %>
      <h1 class="title is-5"><i class="fa fa-twitter" ></i>  Twittter</h1> 
      <% end %> 
    <div class="Navbar-burger burger" data-target=" navbarExample">
    
    </div>
      <div id ="navbarExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="field is-grouped">
          <%= link_to 'Sign Up ', sign_up_path, class:"button is-info is-inverted is-mobile" %>
          
           <%= link_to 'Sign in', sign_in_path, class:"button is-info is-inverted is-mobile" %>
          </div>
        </div>
      </div>
    </nav>
    </header>
  <section>
      <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %> has-text-centered"><%= value %></div>
      <% end %>
      </div>
    </section> 
    
  <%= yield %>

 </body> 
<%end%> 

   
</html>
