<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    
  </head>
 
  <body>
     <% if signed_in? %>
    <h1 class="title is-5"><i class="fa fa-twitter" ></i>  Twittter</h1> 
    <% else %>
    <header> 
    <nav class="navbar is-info">
      <%= link_to root_path, class: "navbar-item"  do %>
      <h1 class="title is-5"><i class="fa fa-twitter" ></i>  Twittter</h1> 
      <% end %> 
    <div class="Navbar-burger burger" data-target=" navbarExample">
    
    </div>
      <div id ="navbarExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="field is-grouped">
            <p class="control">
            <%= link_to 'New Tweeeet', new_tweeeet_path, class:"button is-info is-inverted is-mobile"%> 
            </p>
             <% if signed_in? %> <%= current_user.name %>
              <%= button_to 'Sign out', sign_out_path, method: :delete, class:"button is-info is-inverted is-mobile" %>
            <% else %>
           <%= link_to 'Sign in', sign_in_path, class:"button is-info is-inverted is-mobile" %>
          <% end %>
          </div>
          </div>
          </div>
          </nav>
    </header>
  <section>
      <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %> has-text-centered"><%= value %></div>
      <% end %>
      </div>
    </section>
      <%= yield %>
  <%end%> 
  </body>
   
</html>
